# macOS system files
.DS_Store

# Build folders
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executables
RayTracing
raytracer
RayTracingCpp

# Output images
images/*.ppm
images/*.png

# VSCode settings (optional, якщо ти використовуєш VSCode)
.vscode/

# Logs and temporary files
*.log
*.tmp
